body {
  margin: 0 auto;
}
header {
  background-color: #1b2c00;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
}
nav {
  background-color: #1b2c00;
  color: white;
  margin: 0 auto;
  width: 960px;
}
h1 { 
  float: left;
  font-size: 24px;
  margin: 20px 0px;
}
button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  float: right;
  font-size: 14px;
  height: 40px;
  margin-top: 30px;
  width: 80px;
}
main {
  margin: 0 auto;
  width: 1200px;
}
